#about {
    /* background-color: red; */
    width: 100%;
    height: 100vh;
}

@media (max-width:600px) {
    #about {
      margin-top: 60%;
  }
  }
  @media (min-width:600px) {
    #about {
      margin-top: 2%;
  }
  }
.about-h1{
    padding: 20px;
    font-size: 27px;
    text-align: center;
    align-items: center;
    color: #E35205;
}
.partners{
    color: #E35205;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.6em;
    padding-top: 5%;
}
