 
.enginner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;

}
.enginner-div > div {
    /* padding: 25px; */
    width: 70%;
    height: 139vh;
    background: #FFFFFF;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px;    
}
.enginner-div > div > h3  {
    color: #A0072B;
    font-size: 40px;
    padding-left: 5%;
}
.enginner-div > div > p {
    text-align: start;
    padding-left: 5%;

}
.eng {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.h4  {
    color: #A0072B;
    padding-left: 5%;
}
@media (max-width:600px) {
    .enginner-div{
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 20px;
        width: 100%;
        height: 400vh;
    }
    .enginner-div > div {
        width: 100%;
        height: 320vh;
    }
 }
@media (max-width:600px) {
    .eng  {
        display: block;
        margin-left: 30px;
    }
}   
.teachers-div {
    display: flex;
    justify-content: center;
}
.image > img {
    margin-left: 3%;
    
}
.lorem > p > b {
    color: #A0072B;
}
@media (max-width:600px) {
    .teachers-div  {
        display: block;
    }
    .image > img {
        margin-right: 5%;
        
    }
    .lorem > .p{
        margin-right: 25%;
        /* margin-top: 29%; */
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .lorem > p{
        margin-right: 25%;
        margin-top: 20px;
    }
} 
.youtube {
    font-size: 38px;
  }
  .facebook {
    font-size: 30px;
  }
  .instagram {
    font-size: 36px;
  }
  .iconsss {
    display: flex;
    justify-content: center;
  }
  .share {
      text-align: center;
      align-items: center;
  }
  .iconsss > a {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: black;
      transition: all 0.5s ease;
    }          