.about-p{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
}
.about-p > p {
    text-align: center;
    align-items: center;
}
@media (min-width: 600px) {
    .about-root {
      display: flex;
      justify-content: space-around; 
    }
}
.about-root >  div {
    padding: 10px;
    margin: 20px;
    width: 146.01px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 15px 15px 35px 5px rgba(0, 0, 0, 0.15);
    border-radius: 35px;    
}
@media (max-width: 500px) {
    .about-root > div {
        margin-left: 30%;
    }
} 