/* .news {
  width: 100%;
  height: 100vh;
} */
@media (min-width: 500px) {
    .root{
        display: flex ;
        justify-content: space-between;
    }
}
.root-news {
    padding: 10px;
    border-style: inset;
    border-radius: 11px;
    margin: 20px;
    width: 60%;
    height: auto;
    /* margin-left: 19%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 500px) {
  .root-news{
    margin-left: 19%;
  }
}
@media (max-width: 500px) {
    .root-news{
        width: auto;
        height: auto;
    }
}
.text-h2 {
  grid-area: text;
  margin-left: 3%;
}
.text-h2 > h2 {
    margin-top:0px;
    font-size:24px;
    color: #E35205;
}
.text-h2 > p {
  color: grey;
  font-size:16px;
  font-weight: 300;
}
.img {
  width: 280px;
  height: 200px;
  margin-bottom: 30px;
  margin-left: 4%;
}
@media (max-width:600px) {
  .img {
    display: none;
}}
